In [3]:
import pandas as pd
archivo = pd.read_csv("archivos\\datos.csv")
archivo

    Nombre     Apellido  edad
0    Jorge   Moncaleano    68
1    Paulo      Vizcaya    58
2   Carlos      Alvarez    67
3  Maritza  de la Torre    66